# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

extern/
build/
.vscode/c_cpp_properties.json
data/
viewer/testbed/vae/checkpoints/doom_vae.model
viewer/testbed/classifier/checkpoints/doom_classifier.model
